<div class="banner-image">
  <div class="page-width mx-auto">
    <div class="banner-box">
        <div class="banner-content">
            <span class="banner-arrival">New Arrival</span>
            <h2 class="banner-title">Discover Our New Collection</h2>
            <p class="banner-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
            <button class="btn-banner-buy btn p-0 ">BUY Now</button>
        </div>
    </div>
</div>
</div>
