<div class="browse-range mx-auto page-width">
  <div class="container">
    <h3 class="browse-header">Browse The Range</h3>
    <span class="browse-header-desc"
      >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span
    >
  </div>
  <div class="browse-body">
    <div class="row">
      <div class="col-4">
        <div class="item overflow-hidden">
          <img 
          class="browse-img"
            src="./assets/images/browse-range/image 106.png"
            alt="browse-image-1"
          />
          <h4 class="browse-img-title">Dining</h4>
        </div>
      </div>
      <div class="col-4">
        <div class="item overflow-hidden">
          <img 
          class="browse-img"
            src="./assets/images/browse-range/image 100.png"
            alt="browse-image-2"
          />
          <h4 class="browse-img-title">Living</h4>
        </div>
      </div>
      <div class="col-4">
        <div class="item overflow-hidden">
          <img 
          class="browse-img"
            src="./assets/images/browse-range/image 101.png"
            alt="browse-image-3"
          />
          <h4  class="browse-img-title">Bedroom</h4>
        </div>
      </div>
    </div>
  </div>
</div>
