<div class="container-fluid navbar-header">
  <div class="page-width mx-auto">
    <nav class="row align-items-center">
      <div class="col-3">
        <div class="d-flex">
          <img
            src="./assets/images/navbar/Meubel House_Logos-05.png"
            alt="icon"
            class="navbar-title-icon"
          />
          <h1 class="navbar-title">Furniro</h1>
        </div>
      </div>
      <div class="col-6">
        <ul class="d-flex list-unstyled justify-content-center">
          <li>
            <a routerLink="home" class="nav-link navbar-link">Home</a>
          </li>
          <li>
            <a routerLink="shop" class="nav-link navbar-link">Shop</a>
          </li>
          <li>
            <a routerLink="about" class="nav-link navbar-link">About</a>
          </li>
          <li>
            <a routerLink="contact" class="nav-link navbar-link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <ul class="list-unstyled d-flex justify-content-end">
          <li>
            <a routerLink="" class="nav-link">
              <img
                src="./assets/images/navbar/mdi_account-alert-outline.svg"
                alt=""
                class="icon-right"
              />
            </a>
          </li>
          <li>
            <a routerLink="" class="nav-link">
              <img
                src="./assets/images/navbar/akar-icons_search.svg"
                alt=""
                class="icon-right"
              />
            </a>
          </li>
          <li>
            <a routerLink="" class="nav-link">
              <img
                src="./assets/images/navbar/akar-icons_heart.svg"
                alt=""
                class="icon-right"
              />
            </a>
          </li>
          <li>
            <a routerLink="" class="nav-link">
              <img
                src="./assets/images/navbar/ant-design_shopping-cart-outlined.svg"
                alt=""
                class="icon-right"
              />
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
