<div class="footer">
    <footer class="page-width mx-auto footer-layout">
        <section>
          <div class="row">
            <div class="col-4">
              <h2 class="footer-title mb-40">Funiro.</h2>
              <p class="footer-desc">
                400 University Drive Suite 200 Coral <br>Gables,<br> FL 33134 USA
              </p>
            </div>
            <div class="col-4">
              <div class="row">
                  <div class="col-6">
                      <ul class="list-unstyled">
                          <li class="list-title">
                              <a href="#" class="list-header">Links</a>
                          </li>
                          <li>
                              <a href="#">Home</a>
                          </li>
                          <li>
                              <a href="#">Shop</a>
                          </li>
                          <li>
                              <a href="#">About</a>
                          </li>
                          <li>
                              <a href="#">Contact</a>
                          </li>
                      </ul>
                  </div>
                  <div class="col-6">
                      <ul class="list-unstyled">
                          <li class="list-title">
                              <a href="#" class="list-header">Help</a>
                          </li>
                          <li>
                              <a href="#">Payment Options</a>
                          </li>
                          <li>
                              <a href="#">Returns</a>
                          </li>
                          <li>
                              <a href="#">Privacy Policies</a>
                          </li>

                      </ul>
                  </div>
              </div>
            </div>
            <div class="col-4">
                <ul class="list-unstyled">
                    <li class="list-title">
                        <a href="#" class="list-header">Newsletter</a>
                    </li>
                    <li>
                        <input type="text" placeholder="Enter Your Email Address" class="footer-input me-2 ">
                        <button >SUBSCRIBE</button>
                    </li>
                   
                </ul>
            </div>
          </div>
        </section>
        <section>
          <span class="copy"></span>
          <h3 class="copy-right">2023 furino. All rights reverved</h3>
      </section>
      </footer>
      
</div>